:root {
  --default-car: #7d7c7c;
  --default-wheel: url(./assets/diamond.png);
}

body {
  background: #0f141a;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "impact";
  font-size: 30px;
  color: #ffffff;
}

div.simpleRoad .day {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #63d9fd;
  animation: SR-timeCycle 15s ease infinite alternate;
  will-change: opacity;
}


/** 3D scaler
   *
  
   */

div.simpleRoad .scaler {
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 800px;
  transform: scale3d(1, 1, 1);
  animation: SR-scaleIn 0.5s ease;
}

/** 3D world main node
 
   */

div.simpleRoad .mainNode {
  transform: rotateX(-25deg) rotateY(55deg) translate3d(0, 0, 0);
  transition: transform 1s ease;
  will-change: transform;
}


/* When hovering over .wrapper3d, show the PNG */
div.simpleRoad .wrapper3d:hover .png-image {
  display: block; /* Show the image on hover */
}

div.simpleRoad .node {
  transform-style: preserve-3d;
}

div.simpleRoad .item {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -50px;
}

/* Creating the cube... */

div.simpleRoad .item.index1 {
  transform: translateZ(50px);
}

div.simpleRoad .item.index2 {
  transform: rotateY(90deg) translateZ(50px);
}

div.simpleRoad .item.index3 {
  transform: rotateY(180deg) translateZ(50px);
}

div.simpleRoad .item.index4 {
  transform: rotateY(270deg) translateZ(50px);
}

div.simpleRoad .item.index5 {
  transform: rotateX(90deg) translateZ(50px);
}

div.simpleRoad .item.index6 {
  transform: rotateX(270deg) translateZ(50px);
}

/************************************
   *              Car
   ***********************************/

/* Group in order to grab all element from the car */
div.simpleRoad .carGroup {
  transition: transform 0.8s ease;
  will-change: transform;
}


div.simpleRoad .carBodyNode {
  transform: translate3d(-21px, -5px, -50px);
  animation: SR-drive 5s linear infinite 1.5s;
  will-change: transform;
}

div.simpleRoad .carBodyBlock {
  transform: translateY(-5px) scale3d(0.3, 0.1, 0.6);
}

div.simpleRoad .wheelNode1 {
  transform: translate3d(-15px, -2px, 18px);
}

div.simpleRoad .wheelNode2 {
  transform: translate3d(15px, -2px, 18px);
}

div.simpleRoad .wheelNode3 {
  transform: translate3d(15px, -2px, -18px);
}

div.simpleRoad .wheelNode4 {
  transform: translate3d(-15px, -2px, -18px);
}

div.simpleRoad [class^="wheelBlock"] {
  transform: scale3d(0.05, 0.1, 0.1);
  animation: SR-wheel 1s linear infinite 1.5s;
  will-change: transform;
}

/* Car cockpit */

div.simpleRoad [class^="cockpitNode"] {
  transform: translate3d(0px, -15px, 0);
}

div.simpleRoad .cockpitBlock1 {
  transform: rotateY(90deg) scale3d(0.3, 0.1, 0.3) skewX(-10deg);
}

div.simpleRoad .cockpitBlock2 {
  transform: translateZ(-5px) rotateY(90deg) scale3d(0.3, 0.1, 0.3) skewX(10deg);
}

/* -------------- Dashboard Styling -------------- */

div.simpleRoad .carGroup .dashboardNode {
  /* Position the dashboard within the car */
  position: absolute;

 
}

div.simpleRoad .carGroup .dashboardBlock {
  position: absolute;
}

/* Dashboard Faces */
div.simpleRoad .carGroup .dashboardFace1 {
 
  width: 30px;
  height: 8px;
  position: absolute;
  transform: translateZ(11.5px) translateX(35px) translateY(40px) rotateX(-15deg);
  background: var(--default-car); /* Dark dashboard color */
}
/* Vertical Dashboard Panel */
div.simpleRoad .carGroup .dashboardBlock .verticalDashboard {
  position: absolute;
  background: #707070;
  width: 28px;
  height: 6px;
  position: absolute;
  transform: translateZ(11.6px) translateX(36.5px) translateY(40.5px) rotateX(-15deg);
  transform-origin: center;
  z-index: 100;
}
div.simpleRoad .carGroup .dashboardFace2 {
  /* top of dashboard */
  height: 8px;
  max-width: 29.8px;
  transform: rotateX(83deg) translateZ(-34.5px) translateY(21px) translateX(35.2px);
  background: #636161;
  position: absolute;
}

div.simpleRoad .carGroup .dashboardFace5 {
  /* Map on screen */
  transform: translateZ(12.25px) translateY(38.4px) translateX(46.4px) rotateX(-15deg);
  background-image: url(../../Assets/map.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 5%; 
  width: 7px;
  height: 4px;
  position: absolute;
}

div.simpleRoad .carGroup .dashboardFace6 {
  /* glove box */
  transform: translateZ(11.5px) translateY(42px) translateX(56px) rotateX(-15deg)
  ;
  background: #000000; 
  border-radius: 5%;
  width: 7px;
  height: 3px;
  position: absolute;
}

div.simpleRoad .carGroup .dashboardFace7 {
  /* Main screen background*/
  transform: translateZ(11.75px) translateY(38px) translateX(46px) rotateX(-15deg)
    ;
  background: #000000; 
  border-radius: 5%; 
  width: 8px;
  height: 9.5px;
  position: absolute;
}
div.simpleRoad .carGroup .dashboardFace8 {
  /* Main screen */
  transform: translateZ(11.7px) translateY(38.2px) translateX(46.2px) rotateX(-15deg)
  ;
  background: #003642;
  width: 7.7px;
  height: 9px;
  position: absolute;
}

div.simpleRoad .carGroup .dashboardFace9 {
  /* topLeft Screen item */
  transform: translateZ(11.3px) translateY(42.5px) translateX(51.05px) rotateX(-15deg);
  background-image: url(../../Assets/batteryGreen.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 5%; 
  width: 2px;
  height: 2px;
  position: absolute;
}
div.simpleRoad .carGroup .dashboardFace10 {
  /* topRight Screen item */
  transform: translateZ(11.3px) translateY(42.5px) translateX(46.5px) rotateX(-15deg);
  background-image: url(../../Assets/settings\ \(1\).png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 5%; 
  width: 2px;
  height: 2px;
  position: absolute;
}
div.simpleRoad .carGroup .dashboardFace11 {
  /* bottomLeft Screen item */
  transform: translateZ(10.8px) translateY(44.55px) translateX(51.05px) rotateX(-15deg);
  background-image: url(../../Assets/McDonalds-Logo.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 5%; 
  width: 2px;
  height: 2px;
  position: absolute;
}

div.simpleRoad .carGroup .dashboardFace12 {
  /* bottomRight Screen item */
  transform: translateZ(10.8px) translateY(44.55px) translateX(46.5px) rotateX(-15deg);
  background-image: url(../../Assets/Spotify_Primary_Logo_RGB_Green.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 5%; 
  width: 2px;
  height: 2px;
  position: absolute;
}
div.simpleRoad .carGroup .dashboardFace13 {
  /* topMiddle Screen item */
  transform: translateZ(11.3px) translateY(42.5px) translateX(48.8px) rotateX(-15deg);
  background-image: url(../../Assets/phoneicon.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 5%; 
  width: 2px;
  height: 2px;
  position: absolute;
}
div.simpleRoad .carGroup .dashboardFace14 {
  /* bottomMiddle Screen item */
  transform: translateZ(10.8px) translateY(44.55px) translateX(48.8px) rotateX(-15deg);
  background-image: url(../../Assets/Google_Assistant-Logo.wine.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 5%; 
  width: 2px;
  height: 2px;
  position: absolute;
}

/* STEERING WHEEL */
div.simpleRoad .carGroup .dashboardFace4 {
  /* Steering wheel */
  transform: translateZ(12.3px) translateY(37px) translateX(37.5px) rotateX(-15deg);
  background: transparent;
  border: 2px solid #000; 
  border-radius: 50%; 
  width: 3.5px; 
  height: 3.5px; 
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

div.simpleRoad .carGroup .dashboardFace4::before {
  content: '';
  position: absolute;
  width: 0.2px; 
  height: 1px; 
  background: #fff; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%) translateY(-185%); 
}
div.simpleRoad .carGroup .dashboardFace3 {
  /* Steering wheel middle*/
  transform: translateZ(12.3px) translateY(39.5px) translateX(40px) rotateX(-15deg);
  background: #000;
  border: 1px solid #000; 
  border-radius: 50%; 
  width: 0.5px; 
  height: 0.5px; 
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


/* External trunk top */
div.simpleRoad .trunkExternal {
  position: absolute;
  width: 100px;
  height: 30px;
  background: var(--default-car, gray);
  transform: translateY(-5px) translateZ(-35px) rotateX(90deg);
  transform-origin: center;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

div.simpleRoad .carBodyBlock .item.outerFrontTop {
  position: absolute;
  width: 100px;
  height: 40px;
  background: var(--default-car, #7d7c7c);
  transform: translateY(-15px) translateZ(50px) rotateX(90deg);
  transform-origin: center;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

/* Car floor */
div.simpleRoad .carBodyBlock .item.carFloor {
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--default-car);
  transform: translateY(25px) translateZ(0px) rotateX(90deg);
  transform-origin: center;
}


/** Texturing


/* Car */

div.simpleRoad .carBodyBlock .item.xFaces {
  background: var(--default-car);
  border: solid 0.5px white;
}


div.simpleRoad .carBodyBlock .item.zFaces {
  background: var(--default-car);
  border: solid 0.5px white;
}

div.simpleRoad .carBodyBlock .item.index5 {
  transform: translateY(-50px) rotateX(90deg); 
  background: var(--default-car, #7d7c7c);
  border: solid 0.5px white;
}

div.simpleRoad .carBodyBlock .item.index5 {
  transform: translateY(-50px) rotateX(90deg); 
  background: var(--default-car, #7d7c7c);
  border: solid 0.5px white;
}

/* In order to simulate cockpit frames and windows we're using css border */
div.simpleRoad [class^="cockpitNode"] .item:not(.yFaces) {
  width: 92px;
  height: 92px;
  border: 4px solid #5b5b5b;
  background: rgba(18, 56, 56, 0.5);
}
div.simpleRoad [class^="cockpitNode"] .item.yFaces {
  background: var(--default-car);
}

div.simpleRoad [class^="wheelBlock"] .item.xFaces {
  background: var(--wheel-pattern);
}
div.simpleRoad [class^="wheelBlock"] .item.yFaces {
  background: #313a3d;
}
div.simpleRoad [class^="wheelBlock"] .item.zFaces {
  background: #262822;
}

/** Animation

   */

/* Used once just after loading the page to make the 3D world appear*/
@keyframes SR-scaleIn {
  0% {
    transform: scale3d(0, 0, 0);
  }
}



/* Used to cycle from bright to dark background */
@keyframes SR-timeCycle {
  0% {
    background-color: #63d9fd;
    opacity: 1;
  }
  20% {
    background-color: black;
    opacity: 1;
  }
  40% {
    background-color: #ffc23f;
    opacity: 1;
  }
  60% {
    background-color: white;
    opacity: 1;
  }
  80% {
    background-color: black;
    opacity: 1;
  }
  100% {
    background-color: #63d9fd;
    opacity: 1;
  }
}

/* Used to make the wheel spin */
@keyframes SR-wheel {
  0% {
    transform: rotateX(0deg) scale3d(0.05, 0.1, 0.1);
  }
  100% {
    transform: rotateX(-360deg) scale3d(0.05, 0.1, 0.1);
  }
}

/* Used to simulate the pitch of the car while driving */
@keyframes SR-drive {
  20% {
    transform: translate3d(-18px, -5px, -50px);
  }
  80% {
    transform: translate3d(-22px, -5px, -50px);
  }
}




